.adminheader{
    border-bottom: 1px solid var(--text-primary);
    .adminHContainer{
        margin: 0 5%;
        h1{
            padding: 5px 0;
            color: var(--text-primary);
        }
    }
}