.layout{
    min-height: 100vh;
    width: 100%;
    display: flex;
    .adsidebar{
        width: 20%;
        min-height: 100vh;
        background-color: yellow;
    }
    .admain{
        flex: 1;
        min-height: 100vh;
        background-color: #fff;
        .adheader{
            height: 60px;
            background-color: cyan;
        }
    }
}