.layout{
    min-height: 100vh;
    width: 100%;
    .adsidebar{
        width: 20%;
    }
    .admain{
        width: 80%;
        .adheader{
            height: 60px;
            background-color: cyan;
        }
    }
}