.adminSidebar{
    width: 100%;
    .brand{
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        h1{
            color: var(--text-primary);
            margin-left: 5%;
            margin-top: 20px;
            font-size: 2.375rem;
            line-height: 2rem;
            letter-spacing: 1px;
            font-weight: 500;
            text-align: center;
        }
    }
    .adminnavigation{
        width: 100%;
        div{
            color: var(--text-primary);
            display: flex;
            &::before{
                content: '';
                display: block;
                height: 1px;
                width: 10px;
                background-color: #fff;
            }
            span{
                margin-left: 10px;
            }
        }
        ul{
            width: 100%;
            li{
                width: calc(100% - 20%);
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                padding: 5px;
                padding-left: 20px;
                border-radius: 5px;
                margin-bottom: 10px;
                .navIcs{
                    fill: var(--text-primary);
                    height: 18px;
                    width: 18px;
                    margin-right: 10px;
                    margin-top: 3px;
                }
                span{
                    color: var(--text-primary);
                    font-size: 1rem;
                }
                &:hover{
                    border: 1px solid var(--text-primary);
                    border-radius: 10px;
                }
            }
        }
    }
}