.background{
    height: 100vh;
    .bwrapper{
        .bcontainer{
            margin: 0 5%;
            padding: 5% 0;
            .bflex{
                display: flex;
                align-items: center;
                .dennisImage{
                    width: 35%;
                    padding-left: 5%;
                    .img-blk-wrapper{
                        width: 270px;
                        height: 270px;
                        margin-right: 40px;
                        padding: 18px;
                        .img-blk{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(132deg,#ecc2e5,#edc4e6);
                            img{
                                margin: 0 auto;
                                margin-left: 40px;
                                margin-bottom: -18px;
                                border-radius: 0;
                                width: auto;
                                max-width: 85%;
                                height: auto;
                                position: absolute;
                                bottom: 0;
                                object-fit: cover;
                                z-index: 2;
                            }
                        }
                        .img-blk::before{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: -18px;
                            top: -18px;
                            background: #e0e0ff;
                            z-index: -1;
                        }
                        .img-blk::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            right: -18px;
                            bottom: -18px;
                            background: #e0f4ff;
                            z-index: 1;
                        }
                    }
                }
                .bTexts{
                    width: 60%;
                    .btTitle{
                        color: var(--text-primary);
                        white-space: nowrap;
                        display: flex;
                        margin-bottom: 20px;
                        position: relative;
                        .secCounter{
                            position: absolute;
                            bottom: 0;
                            padding-bottom: 2px;
                            padding-right: 20px;
                            color: aqua;
                            font-size: 17px;
                        }
                    }
                    .btTitle::after{
                        background-color: var(--text-primary);
                        content: "";
                        display: block;
                        height: 1px;
                        margin-bottom: -20px;
                        margin-left: 20px;
                        position: relative;
                        bottom: -20px;
                        width: 50%;
                    }
                    .backtexts{
                        color: var(--text-primary);
                        font-size: 1.4rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}