.experience{
    height: 100vh;
    .ewrapper{
        .econtainer{
            margin: 0 5%;
            .eflex{
                .eTexts{
                    .eTitle{
                        position: relative;
                        text-align: center;
                        color: var(--text-primary);
                        letter-spacing: 1.5px;
                        font-weight: 400;
                        .eCounter{
                            position: absolute;
                            bottom: 0;
                            padding-bottom: 2px;
                            margin-right: 20px;
                            color: aqua;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}