.experience{
    height: 100vh;
    .ewrapper{
        .econtainer{
            margin: 0 5%;
            .eflex{
                .eTexts{
                    .eTitle{
                        position: relative;
                        text-align: center;
                        color: var(--text-primary);
                        letter-spacing: 1.5px;
                        font-weight: 400;
                        .eCounter{
                            position: absolute;
                            bottom: 0;
                            padding-bottom: 2px;
                            margin-right: 20px;
                            color: aqua;
                            font-size: 17px;
                        }
                    }
                    .experiences{
                        .exp{
                            margin: 5% 0;
                            margin-left: 10%;
                            .eOneTitle{
                                color: var(--text-primary);
                                letter-spacing: 1.2px;
                                font-weight: 400;
                            }
                            .eOneTexts{
                                display: flex;
                                justify-content: space-between;
                                width: 80%;
                                p{
                                    color: var(--text-primary);
                                    width: 70%;
                                    font-weight: 100;
                                }
                                .eduration{
                                    color: var(--text-primary);
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}