.landing{
    height: 100vh;
    .lcontainer{
        margin: 0 5%;
        .lwrapper{
            .lflex{
                display: flex;
                .ltexts{
                    .lcachy{
                        font-size: 1.75rem;
                        color: var(--text-primary);
                        img{
                            width: 1.75rem;
                            height: 1.75rem;
                        }
                    }
                }
                .limages{

                }
            }
        }
    }
}