.landing{
    height: 100vh;
    .lcontainer{
        margin: 0 5%;
        .lwrapper{
            padding-top: 100px;
            .lflex{
                display: flex;
                .ltexts{
                    .lcachy{
                        font-size: 1.75rem;
                        color: var(--text-primary);
                        img{
                            margin: 0 15px;
                            width: 1.8rem;
                            height: 1.8rem;
                            cursor: pointer;
                        }
                        .wave {
                            animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
                            animation-duration: 2.5s;        /* Change to speed up or slow down */
                            animation-iteration-count: infinite;  /* Never stop waving :) */
                            transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
                            display: inline-block;
                        }
                        
                        @keyframes wave-animation {
                            0% { transform: rotate( 0.0deg) }
                            10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
                            20% { transform: rotate(-8.0deg) }
                            30% { transform: rotate(14.0deg) }
                            40% { transform: rotate(-4.0deg) }
                            50% { transform: rotate(10.0deg) }
                            60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
                            100% { transform: rotate( 0.0deg) }
                        }
                    }
                    .myname{
                        color: var(--text-primary);
                        margin-top: 20px;
                        font-size: 50px;
                    }
                    p{
                        
                    }
                }
                .limages{

                }
            }
            .callToActionScroll{
                -webkit-animation: calltoaction 1s ease-out 0s infinite alternate none running;
                animation: calltoaction 1s ease-out 0s infinite alternate none running;
                bottom: 0;
                fill: red;
                font-size: 100px!important;
                margin-bottom: 10px;
                position: absolute;
                text-align: center!important;
                width: 90%!important;
                z-index: 10;
                .thescroll{
                    stroke: red;
                }
            }

            @-webkit-keyframes calltoaction {
                0% {
                    color: red;
                    margin-bottom: 20px
                }

                to {
                    color: #ff0!important;
                    margin-bottom: 5px
                }
            }

            @keyframes calltoaction {
                0% {
                    color: red;
                    margin-bottom: 20px
                }

                to {
                    color: #ff0!important;
                    margin-bottom: 5px
                }
            }
        }
    }
}