.notfoundWrapper{
    height: 100vh;
    text-align: center;
    position: relative;
    .notFound{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .fourNotFound{
            font-size: 16rem !important;
            font-weight: 900;
            font-family: Inconsolata,monospace;
            color: aqua;
        }
        .notFoundTexts{
            font-size: 1rem !important;
            line-height: 2.2rem !important;
            font-weight: 200;
            font-style: normal;
            color: var(--text-primary);
            margin-top: -50px;
            margin-bottom: 20px;
        }
        .notFoundLink{
            margin-top: 30px;
            font-size: 1.3rem !important;
            line-height: 2.4rem !important;
            font-weight: 300;
            font-style: normal;
            color: #ffffff !important;
            cursor: pointer !important;
            padding: 10px 40px;
            border-radius: 23px;
            background-color: #4C60F6;
        }
    }
}
@media(max-width: 320px){
    .notfoundWrapper{
        text-align: center;
        margin: 0 10px;
    }
}
@media(max-width: 768px){
    .notfoundWrapper{
        text-align: center;
        margin: 0 10px;
        .notFoundTexts{

        }
        .notFoundLink{
        }
    }
}