.projects{
    height: 100vh;
    .pwrapper{
        .pcontainer{
            margin: 5% 5%;
            .pTitle{
                position: relative;
                text-align: center;
                color: var(--text-primary);
                letter-spacing: 1.5px;
                font-weight: 400;
                .pCounter{
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 2px;
                    margin-right: 20px;
                    color: aqua;
                    font-size: 17px;
                }
            }
            .proj{
                margin: 5% 0;
                .pflex{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    .projImage{
                        width: 50%;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .projTexts{
                        width: 40%;
                        .projTitle{
                            color: var(--text-primary);
                            margin-bottom: 20px;
                        }
                        p{
                            color: var(--text-primary);
                            letter-spacing: 1.2px;
                            font-weight: 100;
                            background-color: var(--back-related);
                            padding: 15px 15px;
                            padding-right: 50px;
                            border-radius: 5px;
                        }
                        .pstack{
                            margin-top: 20px;
                            span{
                                margin-right: 20px;
                                color: var(--text-primary);
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}