.stats{
    height: min-content;
    .statsWrapper{
        .statsContainer{
            .statsFlex{
                .sprofile{
                    height: 100vh;
                    .backImage{
                        width: 100%;
                        height: 250px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}