/*=== Our Blog ===*/
.blog-sec-top {
  text-align: center;
  padding: 5% 20%;
}
.blog-sec-top h1 {
  font-size: 6rem;
}
.blog-sec-top p {
  font-size: 1.2rem;
}

.blog-landing .blog-landing-wrapper {
  margin: 20px 5%;
}
.blog-landing .blog-landing-wrapper .spot-blog {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-image {
  width: 49%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts {
  width: 49%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-category {
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(66, 99, 111, 0.7843137255);
  cursor: pointer;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-date {
  text-transform: uppercase;
  margin-left: 10px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts h2 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.48px;
  margin: 0 0 16px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts h2 a {
  text-decoration: none;
  color: inherit;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts p a {
  text-decoration: none;
  color: inherit;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author .spot-author-name {
  margin-left: 10px;
}
.blog-landing .blog-landing-wrapper .spot-blog .spot-texts .spot-author .spot-author-name p {
  font-size: 0.7rem;
}

.blogs-showcase {
  margin: 0 5%;
}
.blogs-showcase .bloghighHeader {
  display: flex;
  margin: 3%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.blogs-showcase .bloghighHeader .blogsFileters {
  display: flex;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter {
  padding: 8px 15px;
  border-radius: 23px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #eaeaea;
  margin-right: 20px;
  cursor: pointer;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter:nth-child(1) {
  margin-left: -20px !important;
}
.blogs-showcase .bloghighHeader .blogsFileters .filter:hover {
  background-color: #505050;
}
.blogs-showcase .bloghighHeader .blogsFileters .activeFilter {
  background-color: #0088f0;
}
.blogs-showcase .bloghighHeader .blogsFileters .activeFilter:hover {
  background-color: #0088f0 !important;
}
.blogs-showcase .bloghighHeader .viewIcon {
  cursor: pointer;
}
.blogs-showcase .highflex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4%;
}
.blogs-showcase .highflex .highblogcard {
  width: 380px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer !important;
}
.blogs-showcase .highflex .highblogcard .bloghighImage {
  flex: 0 0 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden !important;
}
.blogs-showcase .highflex .highblogcard .bloghighImage img {
  max-height: 250px;
  height: auto !important;
  border-radius: 0;
  box-shadow: initial;
  padding: 0 !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(90%);
  transition: 0.5s;
  vertical-align: middle;
  border-style: none;
}
.blogs-showcase .highflex .highblogcard .bloghighImage img:hover {
  margin-top: 0;
  filter: initial;
  box-shadow: initial;
  transform: scale(1.05);
  transition: 0.5s;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle {
  padding: 10px;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a {
  color: inherit;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a h2:hover {
  transition: 0.3s;
  color: #0088f0;
}
.blogs-showcase .highflex .highblogcard .bloghighTitle a p {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}
.blogs-showcase .highflex .highblogcard .bloghighInfo p {
  margin-left: 10px;
}

/* ======newsletter subscribe stylings====== */
.secNewsletter {
  margin-top: 150px;
  margin-bottom: 150px;
}
.secNewsletter .newsletter .newslettercontainer {
  margin: 0 5%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter {
  background-size: 40%, 60%;
  background-position: left top, right bottom;
  background-image: url(../../assets/svg/glow-blue-02.svg), url(../../assets/svg/glow-purple-02.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex {
  display: flex;
  grid-gap: 2.5rem;
  gap: 2.5rem;
  border-radius: 0.75rem;
  background-color: rgb(9, 20, 26);
  background-position: 100%;
  background-repeat: no-repeat;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-image: url(../../assets/svg/envelop.svg);
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts {
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewstitle {
  font-size: 2rem;
  line-height: 2.25rem;
  color: rgb(246, 246, 246);
  font-weight: 700;
  letter-spacing: 1.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewsTextsp {
  margin-top: 0.75rem;
  color: rgb(246, 246, 246);
  letter-spacing: 0.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform {
  position: relative;
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex {
  display: flex;
  overflow: hidden;
  border-radius: 0.75rem;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsinput {
  outline: none;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(49, 49, 49, 0.707);
  color: rgb(218, 218, 218);
  height: 3.5rem;
  margin-right: -10px;
  width: 300px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsButton {
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: cyan;
  padding: 10px 20px;
  font-weight: 600;
  outline: none;
  border: none;
}

/* ======Footer stylings====== */
.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.footer .fcontainer {
  margin: 0 5%;
  position: relative;
  height: 100%;
}
.footer .fcontainer .fdet .fdetflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs {
  width: 22%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 40px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs h2 {
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a {
  color: var(--color);
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a:hover {
  color: #0088f0;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo h3 {
  font-size: 2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials i {
  margin-right: 20px;
  font-size: 1.2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection {
  display: flex;
  flex-direction: column;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(1) {
  width: 50%;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(2) {
  width: 40%;
}
.footer .fcopyright {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: block;
  padding: 10px 0px;
  width: 100%;
}
.footer .fcopyright p {
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color) !important;
  font-family: "Roboto", sans-serif;
}
.footer .fcopyright p a {
  cursor: pointer;
  color: var(--color);
}/*# sourceMappingURL=blog.css.map */