/* ======pass card stylings====== */
.passCard {
  transform: skew(0deg, -5deg);
  height: 50vh;
  background: rgb(9, 20, 26);
  position: relative;
  margin-top: 80px;
  margin-bottom: 170px;
}
.passCard .passCardWrapper {
  transform: skew(0deg, 5deg);
  margin-bottom: -100px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgb(9, 28, 37), rgb(9, 20, 26)) !important;
}
.passCard .passCardWrapper .passCardContainer {
  margin: 0 5%;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex {
  display: flex;
  padding-top: 80px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler {
  width: 50%;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard {
  width: 450px;
  height: 200px;
  padding: 20px;
  background-color: rgba(23, 35, 104, 0.5725490196);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  position: relative;
  box-shadow: rgba(111, 0, 255, 0.2509803922) 0px 54px 55px, rgba(125, 3, 255, 0.1215686275) 0px -12px 30px, rgba(136, 0, 255, 0.1215686275) 0px 4px 6px, rgba(127, 7, 255, 0.168627451) 0px 12px 13px, rgba(123, 0, 255, 0.0901960784) 0px -3px 5px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardImage {
  width: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardImage img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts {
  width: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: -5%;
  color: #f6f6f6;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div {
  margin-bottom: 40px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p {
  color: #f6f6f6;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1 span, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p span {
  font-weight: 500;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div h1 .apikey, .passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p .apikey {
  background-color: rgba(53, 53, 53, 0.5137254902);
  padding: 5px;
  border-radius: 5px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passCardTiler .passTiltCard .passTiltCardTexts div p {
  margin-bottom: 10px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts {
  width: 50%;
  display: flex;
  align-items: center;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts div h2 {
  line-height: 1.25;
  font-size: 2rem;
  color: #f6f6f6;
  font-weight: 700;
  margin-bottom: 20px;
}
.passCard .passCardWrapper .passCardContainer .passCardFlex .passOutroTexts div p {
  color: #e0e1ea;
  line-height: 1.25;
  letter-spacing: 1.2;
}

/* ======for the developers stylings====== */
.forthedevs {
  margin: 3rem 0;
}
.forthedevs .devswrapper .devcontainer {
  margin: 0 10%;
}
.forthedevs .devswrapper .devcontainer .devflex {
  display: flex;
  justify-content: space-between;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext {
  width: 50%;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .fordestxt {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devstitle {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devtext {
  margin-bottom: 20px;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devtext a {
  color: #0088f0;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns .devlearn {
  padding: 1.5rem 2rem;
  line-height: 1.25;
  font-weight: 600;
  font-size: 0.875rem;
  background: linear-gradient(to bottom right, #14a9ff, #0088f0) !important;
  border-radius: 0.75rem;
  border-style: none;
  border: none;
  outline: none;
}
.forthedevs .devswrapper .devcontainer .devflex .devstext .devbtns .devdocs {
  color: #0088f0;
  line-height: 1.25;
  font-weight: 600;
  font-size: 1rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard .devIcon {
  font-size: 1rem !important;
  width: 100%;
  height: 100%;
}
.forthedevs .devswrapper .devcontainer .devflex .devstech .devtechcard .devbrandIc {
  font-size: 6rem !important;
  width: 100%;
  height: 100%;
}

/* ======newsletter subscribe stylings====== */
.secNewsletter {
  margin-top: 150px;
  margin-bottom: 150px;
}
.secNewsletter .newsletter .newslettercontainer {
  margin: 0 5%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter {
  background-size: 40%, 60%;
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex {
  display: flex;
  grid-gap: 2.5rem;
  gap: 2.5rem;
  border-radius: 0.75rem;
  background-color: rgb(9, 20, 26);
  background-position: 100%;
  background-repeat: no-repeat;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts {
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewstitle {
  font-size: 2rem;
  line-height: 2.25rem;
  color: rgb(246, 246, 246);
  font-weight: 700;
  letter-spacing: 1.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subNewstexts .subNewsTextsp {
  margin-top: 0.75rem;
  color: rgb(246, 246, 246);
  letter-spacing: 0.5px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform {
  position: relative;
  width: 50%;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex {
  display: flex;
  overflow: hidden;
  border-radius: 0.75rem;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsinput {
  outline: none;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(49, 49, 49, 0.707);
  color: rgb(218, 218, 218);
  height: 3.5rem;
  margin-right: -10px;
  width: 300px;
}
.secNewsletter .newsletter .newslettercontainer .subnewsletter .subnewsFlex .subnewsform .subNewsFormf .subinputsFlex .subnewsButton {
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: cyan;
  padding: 10px 20px;
  font-weight: 600;
  outline: none;
  border: none;
}

/* ======Footer stylings====== */
.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.footer .fcontainer {
  margin: 0 5%;
  position: relative;
  height: 100%;
}
.footer .fcontainer .fdet .fdetflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs {
  width: 22%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 40px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs h2 {
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a {
  color: var(--color);
}
.footer .fcontainer .fdet .fdetflex .fflexsecs ul li a:hover {
  color: #0088f0;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .flogo h3 {
  font-size: 2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .fsocials i {
  margin-right: 20px;
  font-size: 1.2rem;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection {
  display: flex;
  flex-direction: column;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img {
  margin-bottom: 10px;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(1) {
  width: 50%;
}
.footer .fcontainer .fdet .fdetflex .fflexsecs:nth-child(1) .siteProtection img:nth-child(2) {
  width: 40%;
}
.footer .fcopyright {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: block;
  padding: 10px 0px;
  width: 100%;
}
.footer .fcopyright p {
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color) !important;
  font-family: "Roboto", sans-serif;
}
.footer .fcopyright p a {
  cursor: pointer;
  color: var(--color);
}/*# sourceMappingURL=blog.css.map */