.landing {
  height: 100vh;
  position: relative;
}

.landing .lcontainer {
  margin: 0 5%;
}

.landing .lcontainer .lwrapper {
  padding-top: 100px;
}

.landing .lcontainer .lwrapper .lflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .lcontainer .lwrapper .lflex .ltexts .lcachy {
  font-size: 1.75rem;
  color: var(--text-primary);
}

.landing .lcontainer .lwrapper .lflex .ltexts .lcachy img {
  margin: 0 15px;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.landing .lcontainer .lwrapper .lflex .ltexts .lcachy .wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.landing .lcontainer .lwrapper .lflex .ltexts .myname {
  color: var(--text-primary);
  margin-top: 20px;
  font-size: 50px;
}

.landing .lcontainer .lwrapper .lflex .ltexts .lintrotxts {
  color: var(--text-primary);
  margin-top: 10px;
  font-size: 2.1rem;
  font-weight: 5px;
}

.landing .callToActionScroll {
  -webkit-animation: calltoaction 1s ease-out 0s infinite alternate none running;
  animation: calltoaction 1s ease-out 0s infinite alternate none running;
  fill: red;
  font-size: 10px !important;
  margin: 0 5%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  text-align: center !important;
  width: 90%;
  z-index: 10;
}

.landing .callToActionScroll .MuiSvgIcon-root path {
  width: 20px !important;
}

@-webkit-keyframes calltoaction {
  0% {
    fill: red;
    margin-bottom: 20px;
  }
  to {
    fill: #ff0;
    margin-bottom: 5px;
  }
}

@keyframes calltoaction {
  0% {
    fill: red;
    margin-bottom: 20px;
  }
  to {
    fill: #ff0;
    margin-bottom: 5px;
  }
}

.landing .hidecallToActionScroll {
  display: none !important;
}
/*# sourceMappingURL=landing.css.map */